!!! 5
%html(lang="en")

    %head
        %meta{:charset => "utf-8"}
        %title Weather Overview
        %meta{:description => "See current weather in your favorite locations"}
        %meta{:author => "Simon La Personne"}
        %link{:href => "./assets/css/bootstrap.css", :rel => "stylesheet"}
        %link{:href => "./assets/css/starter-template.css", :rel => "stylesheet"}
        %link{:href => "./assets/css/application.css", :rel => "stylesheet"}
  
    %body

        %header
            %nav.navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        %a.navbar-brand{:href => "#"} Weather Overview

        #main-region.container

        %script#location-list-item-template{:type => "text/template"}
            '<%- title %>' is '<%- name %>'

        %footer

        %script{:type => "text/javascript", :src => "./lib/jquery-2.1.3.js"}
        %script{:type => "text/javascript", :src => "./lib/json2.js"}
        %script{:type => "text/javascript", :src => "./lib/underscore.js"}
        %script{:type => "text/javascript", :src => "./lib/backbone.js"}
        %script{:type => "text/javascript", :src => "./lib/backbone.marionette.js"}
        %script{:type => "text/javascript", :src => "./lib/bootstrap.js"}

        %script{:type => "text/javascript", :src => "./assets/js/weatherOverview.js"}
        %script{:type => "text/javascript", :src => "./assets/js/entities/location.js"}
        %script{:type => "text/javascript", :src => "./assets/js/apps/locations/listView.js"}
        %script{:type => "text/javascript", :src => "./assets/js/apps/locations/listController.js"}

        %script{:type => "text/javascript"}
            \WeatherOverviewApp.start();