!!! 5
%html(lang="en")

    %head
        %meta{:charset => "utf-8"}
        %title Weather Overview
        %meta{:description => "See current weather in your favorite locations"}
        %meta{:author => "Simon La Personne"}
        %link{:href => "./assets/css/bootstrap.css", :rel => "stylesheet"}
        %link{:href => "./assets/css/starter-template.css", :rel => "stylesheet"}
        %link{:href => "./assets/css/application.css", :rel => "stylesheet"}
  
    %body

        %header
            %nav.navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        %a.navbar-brand{:href => "#"} Weather Overview

        #main-region.container

        %script#location-list-item-template{:type => "text/template"}
            '<%- title %>' is '<%- name %>'

        %footer

        %script{:type => "text/javascript", :src => "./lib/jquery-2.1.3.js"}
        %script{:type => "text/javascript", :src => "./lib/json2.js"}
        %script{:type => "text/javascript", :src => "./lib/underscore.js"}
        %script{:type => "text/javascript", :src => "./lib/backbone.js"}
        %script{:type => "text/javascript", :src => "./lib/backbone.marionette.js"}
        %script{:type => "text/javascript", :src => "./lib/bootstrap.js"}

        %script{:type => "text/javascript"}
            \var WeatherOverviewApp = new Marionette.Application();

            \WeatherOverviewApp.addRegions({
            \   mainRegion: "#main-region"
            \});

            \WeatherOverviewApp.Location = Backbone.Model.extend({
            \   defaults: {
            \       title: "Default Title"
            \   }
            \});

            \WeatherOverviewApp.LocationCollection = Backbone.Collection.extend({
            \   model: WeatherOverviewApp.Location
            \});
            
            \WeatherOverviewApp.LocationView = Marionette.ItemView.extend({
            \   tagName: "li",
            \   template: "#location-list-item-template"
            \});

            \WeatherOverviewApp.LocationsView = Marionette.CollectionView.extend({
            \   tagName: "ul",
            \   childView: WeatherOverviewApp.LocationView
            \});

            \WeatherOverviewApp.on("start", function(){

            \   var locations = new WeatherOverviewApp.LocationCollection([
            \   {
            \       name: "Clermont-Ferrand",
            \   },
            \   {
            \       name: "Royat",
            \   },
            \   {
            \       title: "02170",
            \       name: "Le Nouvion en Thiérache",
            \   }]);

            \   var locationsListView = new WeatherOverviewApp.LocationsView({
            \       collection: locations
            \   });
            \   WeatherOverviewApp.mainRegion.show(locationsListView);
            \});

            \WeatherOverviewApp.start();