!!! 5
%html(lang="en")

    %head
        %meta(charset="utf-8")
        %title Weather Overview
        %meta(description="See current weather in your favorite locations")
        %meta(author="Simon La Personne")
        %link(href="./assets/css/bootstrap.css", rel="stylesheet")
        %link(href="./assets/css/starter-template.css", rel="stylesheet")
        %link(href="./assets/css/application.css", rel="stylesheet")
  
    %body

        %header
            %nav.navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        %a.navbar-brand(href="#") Weather Overview

        #main-region.container
            %p Text to be replaced

        %script#static-template(type="text/template")
            %p Replacement text, injected by Marionette

        %footer

        %script(type="text/javascript", src="./lib/jquery-2.1.3.js")
        %script(type="text/javascript", src="./lib/json2.js")
        %script(type="text/javascript", src="./lib/underscore.js")
        %script(type="text/javascript", src="./lib/backbone.js")
        %script(type="text/javascript", src="./lib/backbone.marionette.js")
        %script(type="text/javascript", src="./lib/bootstrap.js")

        %script(type="text/javascript")
            var WeatherOverviewApp = new Marionette.Application();

            WeatherOverviewApp.addRegions({
                mainRegion: "#main-region"
            });
            
            WeatherOverviewApp.StaticView = Marionette.ItemView.extend({
                template: "#static-template"
            });

            WeatherOverviewApp.on("start", function(){
                var staticView = new WeatherOverviewApp.StaticView();
                WeatherOverviewApp.mainRegion.show(staticView);
            });

            WeatherOverviewApp.start();