<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Weather Overview</title>
    <meta description='See current weather in your favorite locations'>
    <meta author='Simon La Personne'>
    <link href='./assets/css/bootstrap.css' rel='stylesheet'>
    <link href='./assets/css/starter-template.css' rel='stylesheet'>
    <link href='./assets/css/application.css' rel='stylesheet'>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-inverse navbar-fixed-top'>
        <div class='container'>
          <div class='navbar-header'>
            <a class='navbar-brand' href='#'>Weather Overview</a>
          </div>
        </div>
      </nav>
    </header>
    <div class='container' id='main-region'></div>
    <script id='location-list-item-template' type='text/template'>
      '<%- title %>' is '<%- name %>'
    </script>
    <footer></footer>
    <script src='./lib/jquery-2.1.3.js' type='text/javascript'></script>
    <script src='./lib/json2.js' type='text/javascript'></script>
    <script src='./lib/underscore.js' type='text/javascript'></script>
    <script src='./lib/backbone.js' type='text/javascript'></script>
    <script src='./lib/backbone.marionette.js' type='text/javascript'></script>
    <script src='./lib/bootstrap.js' type='text/javascript'></script>
    <script type='text/javascript'>
      var WeatherOverviewApp = new Marionette.Application();
      WeatherOverviewApp.addRegions({
         mainRegion: "#main-region"
      });
      WeatherOverviewApp.Location = Backbone.Model.extend({
         defaults: {
             title: "Default Title"
         }
      });
      WeatherOverviewApp.LocationCollection = Backbone.Collection.extend({
         model: WeatherOverviewApp.Location
      });
      WeatherOverviewApp.LocationView = Marionette.ItemView.extend({
         tagName: "li",
         template: "#location-list-item-template"
      });
      WeatherOverviewApp.LocationsView = Marionette.CollectionView.extend({
         tagName: "ul",
         childView: WeatherOverviewApp.LocationView
      });
      WeatherOverviewApp.on("start", function(){
         var locations = new WeatherOverviewApp.LocationCollection([
         {
             name: "Clermont-Ferrand",
         },
         {
             name: "Royat",
         },
         {
             title: "02170",
             name: "Le Nouvion en Thiérache",
         }]);
         var locationsListView = new WeatherOverviewApp.LocationsView({
             collection: locations
         });
         WeatherOverviewApp.mainRegion.show(locationsListView);
      });
      WeatherOverviewApp.start();
    </script>
  </body>
</html>
