!!! 5
%html
	%head
		%title Weather Overview
		%meta(author="Simon La Personne")
		%meta(charset="utf-8")
		%meta(name="viewport", content="width=device-width, initial-scale=1")
		%link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", ref="stylesheet")
	%body
		#content
			%h1 Hello World !
		%script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		%script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
		#footer